SYNC_V2_ENABLED=false
HEATMAP_V2_ENABLED=false
ASSISTANT_ACTIONS_ENABLED=false
LOCAL_FIRST_ENABLED=false
NODE_HOSTING_ENABLED=false
PARK_POUND_ENABLED=false
HEATMAP_K_ANONYMITY_THRESHOLD=3
PARKLIFE_PROTOCOL_VERSION=2026-02-v1
